body
{
	margin: 10px 0;
	font-family: "museo-sans", Helvetica, Arial, sans-serif;
}

h2
{
	text-align: center;
	color: red;
	margin-top: 20px;
}

table, th, td
{
	border: 2px solid rgb(50, 133, 209);
	border-collapse: collapse;

}

th,td
{
	padding: 10px;
	text-align: center;
	//background-color: red;
}

th
{
	color: rgb(3, 68, 128);
	font-size: 1.1em;
}

table
{
	width: 95%;
	margin-left: 30px;
}

#msg
{
	margin-left:80px;
	font-size: 1.4em;
}

